header{
  width: 90%;
  margin:auto;
  background-color: white;
}
header .top hr{
  width: 100%;
  height:8px;
  background-color: #E74C3C;
  margin-top: 2%;
  animation-name: top;
  animation-duration: 5s;
  animation-delay: -1s;
}
header .logo{
  width: 100%;
}
header .logo img{
  margin: 10px 30px;
  width:120px;
  height: 30px;
}
body{
  background-color: #f3f3f3;
}
main{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box1 box2";
  height: 100%;
}
section{
  background-color: white;
}
.faq{
  grid-area: box1;
  padding:5%;
  padding-top:10%;
}
.faq h1{
  font-size: 2em;
  color:#E74C3C;
  font-family: sans-serif;
}
.faq p{
  margin-top: 3%;
}
.inner{
  grid-area: box2;
}
.inner ul li{
  padding:15px 30px;
  background-color: #E74C3C;
  color: white;
  margin:2%;
  border-radius: 5px;
  width:85%;
  transition: width 2s;
}
.inner ul li:hover{
  width:75%;
  cursor: pointer;
}
@keyframes top{
  0%{
    width:50%;
    margin:auto;
  }
  25%{
    width:65%;
    margin:auto;
  }
  50%{
    width:80%;
    margin:auto;
  }
  75%{
    width:90%;
    margin:auto;
  }
  100%{
    width:100%;
  }
}
