body{
  font-family: "Book Antiqua",sans-serif;
  font-size: 100%;
}
header{
  width: 100%;
}
header nav{
  margin: 1em 6em 1em 6em;
  display: block;
}
header nav ul li{
  display: inline;
  margin: 5px;
  float: right;
}
header nav ul li:hover{
  border-bottom: 2px solid red;
}
header nav ul li a{
  text-decoration: none;
  color: #333;
  padding:20px;
}
header nav img{
  width:120px;
  height:30px;
}
main{
  width:100%;
  height:700px;
  background-image: url("../img/main.jpg");
  border: 1px solid black;
}
.box{
  width:500px;
  padding:40px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: none;
  text-align: center;
}
.box h3{
  font-size: 2.5em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.box span{
  color: red;
}
.box p{
  font-size: 1.5em;
  color: white;
}
.box button{
  padding:20px;
  width:150px;
  margin-top: 25px;
  border-radius: 2px;
  color: white;
  background-color: red;
}
.box button:hover{
  cursor: pointer;
}
.box button a{
  color: white;
  text-decoration: none;
}
#support{
  margin-top: 80px;
  text-align: center;
  font-size: 2em;
  color: #333;
  animation-name: top_to_bottom;
  animation-duration: 4s;
  animation-delay: -1s;
}
.learn {
  display: inline;
  width:25%;
  height:200px;
  text-align: center;
  animation-name: top_to_bottom;
  animation-duration: 3s;
  animation-delay: -1s;
}
.support{
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  width:100%;
}
.support>div {
    width: 24%;
    margin-left: 8.5px;
    height: 400px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 20px;
    padding-top: 40px;
}
.learn img{
  width:160px;
  height:160px;
}
.mobile{
  width: 100%;
}
.img{
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.img img {
  width: 100%;
  height: 100%;
}
.side{
  width:49%;
  height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.side h1{
  margin:8% 0% 2% 0%;
  font-size: 2em;
}
.side p{
  margin: 4% 3% 2% 5%;
}
.side button{
  padding:20px;
  width:150px;
  margin-top: 25px;
  border-radius: 2px;
  color: white;
  background-color: #5DADE2;
}
footer{
  margin-top:5%;
  padding-bottom: 3%;
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box1 box2 box3";
}
.about{
  text-align: center;
  grid-area: box1;
  padding:0% 0% 0% 15%;
}
.about h1,.contact h1{
  text-align: left;
  padding:20px;
  font-size: 1.5em;
}
.about p{
  margin: 8% 0%;
  text-align: left;
}
.about h3{
  text-align: left;
  font-weight: lighter;
}
.contact{
  padding-left: 20%;
  text-align: center;
  grid-area: box2;
}
.contact p{
  margin: 3% 0%;
  text-align: left;
  font-style: italic;
}
.feedback{
  text-align: center;
  grid-area: box3;
  margin-left: 15%;
}
.feedback form{
  margin-top: 5%;
}
.feedback form input{
  display: block;
  padding:20px;
  width:75%;
  margin: 2%;
  border-radius: 5px;
}
.feedback form input[type="submit"]{
  color:#f3f3f3;
  background-color: #3f3f3f;
  width:50%;
  text-transform: uppercase;
  margin-top:15px;
}
a{
  text-decoration: none;
  color: black;
}
/* Animations */
@keyframes top_to_bottom{
  0%{
    transform: translateY(-150px);
  }
  100%{
    transform: translateY(0px);
  }
}
